[Unit]
Description=Urd BTRFS backup

[Service]
Type=oneshot
ExecStart=%h/.cargo/bin/urd backup
Environment=RUST_LOG=info

[Install]
WantedBy=default.target
